.content {
    text-align: center;
}

.btn_menu {
    margin: 20px;
}

.btn_menu input {
    width: 90px;
    height: 30px;
    margin: 0px 5px;
}

#canvas_ {
    width: 720px;
    height: 480px;
    background-color: rgb(200, 200, 200);
}
